@tailwind base;
@tailwind components;
@tailwind utilities;

* html {
  /* padding: 0; */
  /* margin: 0; */
  box-sizing: border-box;
}

/* body { 
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(
    223.51deg,
    #380659 0%,
    #150240 49.54%,
    #06495e 100%
  );
  min-width: 100vw;
  min-height: 100vh;
} */

.gradient {
  background: radial-gradient(
    66.67% 66.67% at 69.08% 33.33%,
    #4cc9f0 0%,
    #ffffff 100%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  font-family: "Texturina";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
}




/* About */


/* Description */


/* Features */


/* Ecosystem */


/* Footer */

